---
import { header, subheader } from '@content/_data'
import { Badge } from '../ui'
---

<>
  <h1>{header}</h1>
  <h2>{subheader}</h2>

  <div class="mb-7 grid justify-start">
    <div class="not-prose mt-7 flex select-none flex-row items-baseline gap-3">
      <Badge variant="large">Front End</Badge>
      <div class="text-2xl">&</div>
      <Badge variant="large">Full Stack</Badge>
    </div>
  </div>
</>
