#logo {
    // width: 160px;
    // width: 16rem;
    // width: 22vh;
    // text-align: center;
    // margin: 0 auto;

    // width: 16%;
    // min-width: 40px;
    // min-width: 4rem;
    // max-width: 80px;
    // max-width: 8rem;

    width: 5.4rem;
    text-align: left;
    font-color: rgba($color__eyecandy, 0);
    margin: 0 0 $grid__medium-gutter * 10px / 2;
    margin: 0 0 $grid__medium-gutter * 1rem / 2;
 }