---
import Layout from '../layouts/Layout.astro'
import { ProjectsWrapper, ProjectsShowcase } from '../components'
import { titleTemplate, descriptionTemplate } from '@content/_data'
import { getCollection } from 'astro:content'

const projectsCollection = await getCollection('projects')
---

<Layout
  description={descriptionTemplate}
  title={titleTemplate}
>
  <main class="flex flex-col gap-0">
    <header class="prose prose-min px-4 pb-0 pt-4 prose-headings:m-0">
      <ProjectsShowcase />
    </header>

    <ProjectsWrapper projects={projectsCollection} />
  </main>
</Layout>
