// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 10) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


@mixin vertical-center() {
	@content::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
 	}
}



// Media Query Breakpoints Mixin
@import "breakpoints";


// Text Format Mixin
@import "text-format";