.site {
    position: relative;
    width: 100%;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Header Feature Image
--------------------------------------------------------------*/
@import "header/feature-image";


.entry-meta {
	display: none;
	visibility: hidden;
}

.content-area {
    padding: 0 $grid__small-gutter * 10px;
    padding: 0 $grid__small-gutter * 1rem;
    margin: 0 auto;
    max-width: ms(21);



    @include screenSize(mobile) {
	    padding: 0 $grid__medium-gutter * 10px;
	    padding: 0 ms(8);
    }

    @include screenSize(desktop-hd) {
	    padding: 0 $grid__big-gutter * 10px;
	    padding: 0 ms(10);
        // font-size: ms(3);
    }
}

/*--------------------------------------------------------------
## Header Logo
--------------------------------------------------------------*/
@import "header/logo";

/*--------------------------------------------------------------
## Header Scroll
--------------------------------------------------------------*/
@import "header/scroll";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "home/home";

/*--------------------------------------------------------------
## Custom homepage
--------------------------------------------------------------*/
@import "home/home-custom";

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404/404";