---
import Layout from '../../layouts/Layout.astro'
import { ProjectsWrapper, ProjectsShowcase } from '../../components'
import { getCollection } from 'astro:content'

const projectsCollection = await getCollection('projects')
---

<Layout title="Projects">
  <main class="flex flex-col gap-0">
    <div class="prose prose-min px-4 pb-0 pt-4 prose-headings:m-0">
      <ProjectsShowcase />
    </div>

    <ProjectsWrapper projects={projectsCollection} />
  </main>
</Layout>
