---
const codeSandboxURL = 'https://kqscsz-5173.csb.app'
const title = 'Humanitarian Aid Appeals CRM | Project demo by Genek Tomashko'
---

<head>
  <meta charset="utf-8" />
  <title>{title}</title>
  <meta
    name="description"
    content=""
  />

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  />
</head>

<body>
  <iframe
    src={codeSandboxURL}
    title={title}
    allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
    sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
  ></iframe>
</body>

<style>
  body {
    background-color: rgb(241 245 249);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  iframe {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    overflow: hidden;
  }
</style>
